

/* body{
    background-color: #ADD8E6;

} */
/* #div1{
    background-color: #D3E3E3
} */
.name{
    color: red;
    font-family:cursive;
    font-weight: 500
    text-align:center;
    text-decoration: underline;
}
h3{
    color:purple;
}


a{
    font-size: small;
    text-decoration: none;
}
#page1{
    background-color: #ADD8E6;
}
#page2{
    background-color: #ADD8E6;
}
#contactForm{
    border: solid white;
    border: 1px
    background-color: white
    margin: 8px
    padding: 10px


}

#Content{
    border: solid purple;

}
button:focus{
    color: red;
    font-family:cursive;
    font-weight: 500
    text-align:center;
    text-decoration: underline;
}

input[type=text]:focus{
    background-color: #D3D8D8
    color: black;
    width:100%
    transition: 2s;
    }
